extends layout
block content
   h1= title
   p Welcome to  #{title}
   form(name="search", action="/visitor",method="GET")
      p
         | Search
         = " "
         select(name="select")
            option(value="location") Location
            option(value="coordinates") Coordinates
         = " "
         input(type="text",name="loc")
      p
         | How many days?
         = " "
         input(type="text",name="day")
      input(type="submit",value="submit")
   br

   if users
      table(style="width:100%",border=1)
         tr
            td
            td name
            td location
            td description
         for user in users
            tr
               td
                  img(src=user.photo,style="width:100px;height:100px")
               td
                  = "@"
                  = user.name
               td= user.location
               td= user.text
